{
  presets: [
    'es2015',
    'stage-1',
  ],
  plugins: [
    'transform-runtime',
    'syntax-flow',
    'transform-flow-comments',
    'lodash',
  ],
  env: {
    test: {
      plugins: [
        'istanbul',
        'lodash',
      ],
    },
  },
}